
div#mynames{
  color: blue;
  border: 2px solid red;
  
}
p.article{
  max-height:0px;
  overflow: hidden;
  font-size:22px;
  padding:0px 10px 0px 10px;
  margin-bottom: 20px;
  transition: all 2s ease;
  text-align: justify;
}
